<!DOCTYPE html>
<html ng-app="tassApp">
  <head>
    <title>TASS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- styles -->
    <link rel="stylesheet" src="stylesheets/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" src="javascripts/lib/ol/ol.css" type="text/css">
    <link href="stylesheets/style.css" rel="stylesheet" media="screen">
    <!-- scripts -->
    <script src="javascripts/lib/jquery-1.12.0.min.js"></script>
    <script src="javascripts/lib/bootstrap.min.js"></script>
    <script src="javascripts/lib/angular.min.js"></script>
    <!-- app js -->
    <script src="javascripts/app.js"></script>
    <!-- openlayers -->
    <script src="javascripts/lib/ol/ol.js"></script>
  </head>

  <body>
    <div ng-controller="mainController">
      <div class="todo-form">
        <form>
          <select ng-model="selectedCand"
                  ng-options="cand as cand.cand_name for cand in candidates track by cand.cand_id"
                  ng-change="updateCand()">
          </select>
          <div></div>
          <label>
            <input type="checkbox"
                   ng-model="data_individual"
                   ng-change="updateCand()">
            Darowizny bezpośrednie
          </label><br/>
          <label>
            <input type="checkbox"
                   ng-model="data_committees"
                   ng-change="updateCand()">
            Darowizny komitetów wyborczych
          </label><br/>
        </form>
      </div>

      <div class="fff">
        <div class="solid flex-item">
          <div id="map"></div>
        </div>

        <div class="solid fixed">
          <div class="square8 groove"></div> &nbsp 0 - 500 <br></br>
          <div class="square7 groove"></div> &nbsp501 - 1000 <br></br>
          <div class="square6 groove"></div> &nbsp1001 - 3000  <br></br>
          <div class="square5 groove"></div> &nbsp3001 - 6000<br></br>
          <div class="square4 groove"></div> &nbsp6001 - 8000 <br></br>
          <div class="square3 groove"></div> &nbsp8001 - 10000 <br></br>
          <div class="square2 groove"></div> &nbsp10001 - 20000 <br></br>
          <div class="square1 groove"></div>  &nbsp> 20000 <br></br>
        </div>
      </div>
    </div>
  </body>
</html>
